@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Syne:wght@400;500;600;700&display=swap');
*{
  font-family: 'Syne', 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-loader h2 {
  font-size: 24px;
  font-weight: bold;
}